@import "tailwindcss";

@theme {
  --color-primary: #f1fcdc;
  --color-lime: #a1d65b;
  --color-green: #6ebe45;
  --color-dark-lime: #65A30D;
  --color-dark-green: #256339;
  --color-neutral-gray: #6B7280;
}